/* default values */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* navigation bar - general */
.top-nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* list of items in navigation bar */
.nav-list{
    list-style-type: none;
}
/* individual navigation items */
.nav-list .list-item{
    display: inline-block;
    padding: 30px 10px
}

/* upon activation */
.top-nav a{
    color: white;
    text-decoration: none;
}

/* upon hover */
.top-nav a:hover{
    color: darkblue;
}

/* mobile display */
.menu{
    display: none;
}

.menu-line {
    width: 40px;
    height: 3px;
    background-color: black;
    margin-bottom: 4px;
}

.genpricing{
    background-color: white;
}

.price-opt-b{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;

}

.price-opt-b > div{
    max-width: 100%;
    width: 280px;
    min-width: calc(25%-20px);
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
    margin: 30px;
}

.price-opt-b > div >h1{
    padding-bottom: 20px;
    color: rgb(194, 4, 194);
    border-bottom: 1px solid #ddd;
    font-size: 25px;
}
.price-opt-b > div >h2{
    padding-bottom: 20px;
    color: rgb(111, 10, 233);
    border-bottom: 1px solid #ddd;
    font-size: 25px;
}
.price-opt-b > div >h3{
    padding-bottom: 20px;
    color: rgb(25, 140, 254);
    border-bottom: 1px solid #ddd;
    font-size: 25px;
}
.price-opt-b > div >h4{
    padding-bottom: 20px;
    color: rgb(0, 121, 51);
    border-bottom: 1px solid #ddd;
    font-size: 25px;
}

.price-opt-b > div >p{
    padding: 10px;
    font-size: 10;
    font-style: italic;
    text-align: justify;
    color: #666;
}

.price-opt-b > div > div > ul{
    list-style: none;
    text-align: left;
}

.price-opt-b > div > div > ul > li{
    padding: 5px;
}

/* depending on mobile/desktop. Activate mobile mode! */


/* logo */
.primary-icon{
    height: 40px;
}

body{
    font-family:Arial, Arial, Helvetica, sans-serif;
    background-color:white;
    width: 100%;
    margin: auto;
    min-width: 600px;
    max-width:2000px;
}
/* curr logo */
.curr-pic {
    background-color:rgb(0, 0, 0);
}


.main-heading{
    margin: 10px;
    font-size: 80px;
    color: white;
}
.start-box-model{
    background-color: black;
    background-image: url("./assets/banner_comp.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: relative;
    padding:300px;
    align-items: center;
    text-align: center;
    position:relative;
    border-bottom:#555;
    border-style: double;
}
.img-pricing{
    background-image: url("./assets/PricingBanner.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: relative;
    padding:200px;
    align-items: center;
    text-align: center;
    position:relative;
}

.mh-pricing{
    text-align: left ;
    font-size: 80px;
    color: white;
}

.img-faq{
    background-image: url("./assets/FAQBanner.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: relative;
    padding:200px;
    align-items: center;
    text-align: center;
    position:relative;
}

.mh-faq{
    text-align: left ;
    font-size: 80px;
    color: rgb(255, 255, 255);
}

.hero-text{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
.button1{
    color: black;
    border: none;
    outline: 0;
    display: inline-block;
    text-align:center;
    cursor: pointer;
    padding: 10px;
}
.hero-text button:hover{
    background-color: #555;
    color: grey;
}
.container1 {
    padding-bottom: 2%;
    padding-top: 2%;
    background-color:black;
    display: flex;
    padding-left: 10%;
    border-bottom: #666;
    border-bottom-style:double;
}
.container2 {
    padding-bottom: 2%;
    padding-top: 2%;
    background-color:white;
    display: flex;
    padding-left: 10%;
    align-self: left;
    border-bottom: #666;
    border-bottom-style:double;
    flex-wrap: wrap;
    justify-content: center;

}
.subheading {
    font: bold;
    text-align: left;
    font-size:70px;
    float: left;
    color: white;
    padding-top: 80px;
    padding-bottom: 20px;
    font-weight: bold;
}

.mockup {
    padding-top: 50px;
    width: 500px;
    margin-left: 30px;
    float: left;
    padding-right: 180px;
    
}
.mockup1 {
    padding-top: 50px;
    width: 200px;
    height:auto;
    float: left;

}
.compmockup {
    padding-top: 50px;
    width: 600px;
    height:auto;
    float: right;
}
.list-text{
    padding-top: 10px;
    padding-right: 0;
    font-size:25px;
    color:white;
    float: left;
}
.thirdheading {
    font-size: 375%;
    color: white;
    margin-left: 150px;
    font-weight: bold;
}
.reviewboxes{
    margin: 15px;
}
.reviewcontains1 {
    border-radius: 10px;
    height: 550px;
    border-width: 2px;
    border-style: solid;
    margin: 15px;
    margin-top: 80px;
    width: 500px;
    border-color: rgb(141, 0, 141);
    float: left;
    background-color: black;
}
.reviewcontains2 {
    border-radius: 10px;
    height: 550px;
    border-width: 2px;
    border-style: solid;
    margin: 15px;
    margin-top: 80px;
    width: 500px;
    border-color: rgb(0, 78, 122);
    float: left;
    background-color: black;
}
.reviewcontains3 {
    border-radius: 10px;
    height: 550px;
    border-width: 2px;
    border-style: solid;
    margin: 15px;
    margin-top: 80px;
    width: 500px;
    border-color: rgb(12, 141, 0);
    float: left;
    background-color: black;
}
.reviewcontains4 {
    border-radius: 10px;
    height: 550px;
    border-width: 2px;
    border-style: solid;
    margin: 15px;
    margin-top: 80px;
    width: 500px;
    border-color: rgb(202, 240, 67);
    float: left;
    background-color: black;
}
.pfps {
    width: 300px;
    margin: 40px;
    padding-left: 100px;

}
.reviewtext {
    text-align:center;
    margin: 40px;
    font-style:italic;
    font-size: 25px;
    color: white;
}
.usersnames{
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: bold;
}
.footer {
    text-align: center;
}

.faqs-cont {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.faqs-cont .q-cont {
    box-shadow: 0 4px 8px -3px rgb(0,0,0,0.3);
}

.faqs-cont .faq-header {
    display: flex;
    background: #000000;
    color: white;
    align-items: center;
    position: relative;
    cursor: pointer;
    /* border-radius: 25px; */
}

.faqs-cont .faq-header .op,
.faqs-cont .faq-header .cl {
    position: absolute;
    right: 0;
    padding: 0 32px;
    font-size: 22px;
    font-weight: bold;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
}

.faqs-cont .faq-header .op.active,
.faqs-cont .faq-header .cl.active {
    opacity: 1;
    transform: translateY(0);
}

.faqs-cont .faq-header h3{
    font-size: 20px;
    padding : 0 32px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faqs-cont .cont{
    padding : 0 32px;
    background-color:#fdfffc;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
}

.faqs-cont .cont.active {
    max-height: 600px;

}
.futureplansbckgrnd {
    background-image: url("./assets/fpbgimg.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
    padding:250px;
    align-items: center;
    text-align: center;
    position:relative;
    border-bottom-style: double;
    border-bottom-color:#555;
}
.artistsubscribebox{
    width: 700px;
}
.futureheading {
    font: bold;
    text-align: left;
    font-size:50px;
    float: left;
    color: black;
    padding-top: 80px;
    padding-bottom: 20px;
    font-weight: bold;
}
.futureplantext {
    padding-top: 10px;
    padding-right: 0;
    font-size:22px;
    color:black;
    float: left;
}
.embed-iframe{
    margin-top:70px;
}
.faqs-cont .p1{
    padding-top: 30px;
    padding-bottom: 30px;
}

.more-questions{
    text-align: center;
    padding: 40px;
    background-color: rgb(0, 102, 102);
    font-size: 18px;
    color: white;
}

@media all and (max-width: 480px) {
    .top-nav{
        flex-direction: column;
    }
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top : 15px;
    }
    .nav-list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .nav-list .list-item{
        display: block;
        border-top: 1px solid black
    }
    .primary-icon{
        margin-top: 10px;
        margin-left: 10px;
    }
    .active{
        display: block;
    }
    .mockup{
        display:none;
    }
    .main-heading{
        font-size: 60px;
        text-align: left;
        width: 250px;

    }
    .hero-text{
        width: 300px;
        text-align: left;
    }
    
}
