/* default values */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* navigation bar - general */
.top-nav{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* list of items in navigation bar */
.nav-list{
    list-style-type: none;
}
/* individual navigation items */
.nav-list .list-item{
    display: inline-block;
    padding: 20px 10px
}

/* upon activation */
.top-nav a{
    color: black;
    text-decoration: none;
}

/* upon hover */
.top-nav a:hover{
    color: darkblue;
}

/* mobile display */
.menu{
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 4px;
}

.genpricing{
    background-color: white;
}

.price-opt-b{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.price-opt-b > div{
    max-width: 100%;
    width: 280px;
    min-width: calc(25%-20px);
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
    margin: 30px;
}

.price-opt-b > div >h1{
    padding-bottom: 20px;
    color: rgb(194, 4, 194);
    border-bottom: 1px solid #ddd;
    font-size: 25px;
}
.price-opt-b > div >h2{
    padding-bottom: 20px;
    color: rgb(111, 10, 233);
    border-bottom: 1px solid #ddd;
    font-size: 25px;
}
.price-opt-b > div >h3{
    padding-bottom: 20px;
    color: rgb(25, 140, 254);
    border-bottom: 1px solid #ddd;
    font-size: 25px;
}
.price-opt-b > div >h4{
    padding-bottom: 20px;
    color: rgb(0, 121, 51);
    border-bottom: 1px solid #ddd;
    font-size: 25px;
}

.price-opt-b > div >p{
    padding: 10px;
    font-size: 10;
    font-style: italic;
    text-align: justify;
    color: #666;
}

.price-opt-b > div > div > ul{
    list-style: none;
    text-align: left;
}

.price-opt-b > div > div > ul > li{
    padding: 5px;
}

/* depending on mobile/desktop. Activate mobile mode! */
@media all and (max-width: 480px) {
    .top-nav{
        flex-direction: column;
    }
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top : 15px;
    }
    .nav-list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .nav-list .list-item{
        display: block;
        border-top: 1px solid black
    }
    .primary-icon{
        margin-top: 10px;
        margin-left: 10px;
    }
    .active{
        display: block;
    }
}

/* logo */
.primary-icon{
    height: 40px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
}
/* curr logo */
.curr-pic {
    background-color:white;
}

div {
    background-color: white;
}

.main-heading{
    text-align: center;
    font-size: 70px;
    color: white;
}
.box-model{
    background-image: url("./assets/banner_comp.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: relative;
    padding:200px;
    align-items: center;
    text-align: center;
    position:relative;
}
.img-pricing{
    background-image: url("./assets/PricingBanner.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: relative;
    padding:200px;
    align-items: center;
    text-align: center;
    position:relative;
}

.mh-pricing{
    text-align: left ;
    font-size: 80px;
    color: white;
}

.hero-text{
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 30px;
}
.button1{
    color: black;
    border: none;
    outline: 0;
    display: inline-block;
    text-align:center;
    cursor: pointer;
    padding: 10px;
}
.hero-text button:hover{
    background-color: #555;
    color: grey;
}

